.npl_cta{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);

}

.npl_cta-content p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0e;

}

.npl_cta-content h3{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #0E0E0e;
    
}
.npl_cta-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;

}

.npl_cta-button button{
    background: #0E0E0e;
    border-radius: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    min-width: 150px;
}
@media screen and (max-widht:650px) {
  .npl_cta{
    flex-direction: column;
  }   
    .npl_cta-button{
        margin: 2rem 0 0;
    }
}

@media  screen and (max-width:550px) {
    .npl_cta{
        margin: 4rem 2rem;

    }

    .npl_cta-content  h3{
        font-size: 18px;
        line-height: 32px;
    }
    
    .npl_cta-button button{
        font-size: 14px;
        line-height: 28px;
    }
}