.npl_possibility{
    display: flex;
    flex-direction: row;

}

.npl_possibility-image{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;

}

.npl_possibility-image img{
    width: 100%;
    height: 100%;

}

.npl_possibility-content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.npl_possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 30px;
    color: #71E5FF;
}

.npl_possibility-content h4:last-child{
    color:#FF8A71 ;
}

.npl_possibility-content h1{
    font-family: var(--font-family);
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    margin: 1rem 0;
}

.npl_possibility-content p{
    font-family: var(--font-family);
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media  screen and (max-width:950px) {
    .npl_possibility{
        flex-direction: column;
    }

    .npl_possibility-image{
        margin: 1rem 0;

    }

    .npl_possibility-content{
        margin-top: 2rem;
    }
}